In [25]:
import yfinance as yf

In [26]:
data = yf.download("AMZN, HD, COST, BURL, ULTA, WMT, BBY, TGT",
                    start="2020-01-01",
                    end="2025-08-25")

C:\Users\hovak\AppData\Local\Temp\ipykernel_5972\745447563.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download("AMZN, HD, COST, BURL, ULTA, WMT, BBY, TGT",
[*********************100%***********************]  8 of 8 completed

In [ ]:
# data.head()
# drop all data except the opening and volume columns.
data = data[['Open', 'Volume']].copy()
# data.head()

# refactor input so that the two columns are just Open and Volume, with the specific 
# ticker name gone; that is, all the tickers should be aggregatted under the 
# Open and Volume columns.
data = data.stack(level='Ticker', future_stack=True).reset_index()

# add the month as a number from 1 to 12 as a column to the dataframe
data['Month'] = data['Date'].dt.month

# TODO: using the data and the yfinance library, add the federal reserve interest
# as a column


data.tail()

Price       Date Ticker        Open    Volume  Month
11339 2025-08-22   COST  971.539978   3136000      8
11340 2025-08-22     HD  400.869995   5284700      8
11341 2025-08-22    TGT   97.580002  13663600      8
11342 2025-08-22   ULTA  527.830017    624300      8
11343 2025-08-22    WMT   98.070000  32695200      8